 
 :root {
    /* Primarios */
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    /* Generales */
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    /* Fuente */
    --fuente: 'Public Sans', sans-serif;

 }
 
 html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Generales */

  li {
    list-style: none;
    display: inline-block;
  }

  body {
    font-size: 1.8rem;
    font-family: var(--fuente);
    background-color: var(--veryLightGray);
  }

  .contenedor {
    max-width: 120rem;
    margin: 0 auto;
  }

  .boton {
    display: inline-block;
    font-size: 2rem;
    padding: 1.2rem 3rem;
    margin-bottom: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    border: none;
    color: var(--White);
    text-align: center;
    background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
  }
  
  .boton:hover {
    opacity: 0.5;
    transition: opacity 150ms ease-in-out;;
  }

  /* Header */

  .navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--White);
    height: 6rem;
  }

  .navegacion__logo {
    cursor: pointer;
  }

  .navegacion__items {
    font-weight: 300;
    color: var(--grayishBlue);
    font-size: 1.4rem;
    word-spacing: 2rem;
    cursor: pointer;
  }

  .item:hover{
    color: var(--darkBlue);
  }

  /* Main */
 .principal {
  display: flex;
  align-items: center;
 }

 .principal__texto {
  padding: 0 5rem;
 }

.principal__imagen {
  height: 60rem;
  width: 100%;
  overflow: hidden;
}

 .imgFondo{
  display: block;
  width: 90rem;
  height: 165%;
  margin: -24.5rem -30rem 0 0;
  background-repeat: no-repeat;
 }

 .imgFondo::after {
  content: '';
  display: block;
  width: 80rem;
  height: 60rem;
  background-image: url(../images/image-mockups.png);

 }

 


