html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Ubuntu', sans-serif;
}

.contenedor {
    width: 120rem;
    height: 50rem;
    margin: 5rem auto;
    display: grid;
    place-content: center;
}
