:root {
    --colorPrincipal: #3d3939;
    --colorSecundario: #656162;
    --blanco: #FFF;
    --negro: #000;

    --fuente: 'Roboto', sans-serif;;
}

/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-size: 1.6rem;
    font-family: var(--fuente);
    background-color: var(--colorPrincipal);
  }

  ul {
    list-style: none;
  }

  p {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--blanco);
    text-align: left;
  }

  textarea {
    width: 40rem;
  }

  form {
    margin-top: 5rem;
  }

  .container {
    max-width: 120rem;
    margin: 0 auto;
    width: 80%;
  }

  .flex-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  .flex-outer label {
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--blanco);
  }

  .flex-outer input {
    padding: 1rem;
    width: 40rem;
  }

  .flex-outer li button {
    margin-left: 32rem;
    padding: 10px 16px;
    border: none;
    border-radius: 1rem;
    background-color: var(--colorSecundario);
    color: var(--blanco);
    transition: transform .3s;
  }

  .flex-outer li button:hover {
    transform: scale(1.1);
    background-color: #8b8687;
  }

  .flex-outer li button,
  .flex-outer label {
    font-family: var(--fuente);
  }

  .flex-inner {
    margin-top: -5.5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }

  .flex-inner input {
    width: 10rem;
  }

  .flex-inner label {
    margin: -2rem -1.6rem 0 0;
    text-align: right;
  }
  

  

